.git
.github
.mypy_cache
.pixi
.pytest_cache
.venv
__pycache__
*.py[cod]
*.egg-info
.coverage

docs
example-reports
sample_data
tests

*.bam
*.bai
*.cram
*.crai
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.html
*.pdf
