# Linguist configuration
RiboMetric/*.py              linguist-detectable
RiboMetric/*.py              linguist-language=Python
example_reports/*            linguist-generated
docs/*                       linguist-documentation
RiboMetric/*.html            linguist-language=HTML
