# Linguist configuration
RiboMetric/*.py              linguist-detectable
RiboMetric/*.py              linguist-language=Python
RiboMetric/*.html            linguist-language=HTML
Makefile                     linguist-language=makefile
example-reports/*            linguist-generated
docs/*                       linguist-documentation
