# Files ignored for language statistics
*.py              linguist-detectable
*.py              linguist-language=Python
example_reports/* linguist-generated
docs/*            linguist-documentation
*.html            linguist-vendored
